logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin

frontend/logs
frontend/project/project
frontend/project/target
frontend/target
frontend/tmp
frontend/.history
frontend/dist
/frontend/.idea
/frontend/*.iml
/frontend/out
/frontend/.idea_modules
/frontend/.classpath
/frontend/.project
/frontend/RUNNING_PID
/frontend/.settings
/frontendbin

frontend/.sbtserver
frontend/project/.sbtserver
frontend/project/.sbtserver.lock
frontend/project/play-fork-run.sbt
frontend/project/sbt-ui.sbt

frontend/conf/secret.conf
