@(pageInfo: views.support.PageInfo, tool: UiTool)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@readmeSection = {
    @Html(tool.readmeHtml)
}

@executeSection = {
        <h1>Use tool</h1>

        <!--- @@actionButtons --->
        <!--- @@common("uploader-basic-nobar") --->
        <pre>[default]: This feature has not been implemented yet.</pre>
}

@codeSection = {
    <h1>Source code</h1>
    <pre>@tool.sourceCode</pre>
    <div class="text-right">

    <!---
    @@if(reviewPermission)
        <a class="btn btn-danger" href="@@routes.ApplicationController.reviewTool(tool.id.toLong)"><i class="glyphicon glyphicon-ok"></i>&nbsp;Review</a>

    @@if(deletePermission)
        <a class="btn btn-danger" href="@@routes.ApplicationController.deleteTool(tool.id.toLong)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
    --->
    </div>
}

@subHeader = {
    <div id="subHeader" class="row">
        <div class="col-sm-8">
            <a href="@routes.ToolController.details(tool.owner.handle, tool.name)"><span class="glyphicon glyphicon-user"></span> @tool.owner.handle</a>&nbsp;/
            <a href="@routes.ToolController.details(tool.owner.handle, tool.name)">@tool.name</a>
        </div>

        <div class="col-sm-4 text-right">
            By <a href="@routes.ToolController.details(tool.owner.handle, tool.name)">@tool.owner.name</a>
            <!--- <img src="@tool.owner.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" style="height:40px;" /> --->
        </div>
    </div>
}


@main(pageInfo) {
<div class="">
    <div class="row">
        <div class="col-md-8 col-centered">
            @subHeader

            @readmeSection
            @executeSection
            @codeSection
        </div>
    </div>



    <div id="dataContainer" class="text-right"
    data-ws-url="@@routes.ApplicationController.ws().webSocketURL()"
    data-tool-id="@@tool.id"
    data-tool-extension="@@tool.extension"
    data-input-url="@@inputUrl.getOrElse('noFile')"
    ></div>
</div>
}